@font-face {
    font-family: CompactaBlackRegular;
    src: url("assets/fonts/CompactaBlackRegular.otf") format("opentype");
}

@font-face {
    font-family: TF2;
    src: url("assets/fonts/TF2.ttf") format("opentype");
}

@font-face {
    font-family: TF2Build;
    src: url("assets/fonts/TF2Build.ttf") format("opentype");
}

@font-face {
    font-family: TF2Secondary;
    src: url("assets/fonts/TF2secondary.ttf") format("opentype");
}

@font-face {
    font-family: BorisBlackBoxx;
    src: url("assets/fonts/BorisBlackBloxx.ttf") format("opentype");
}

@font-face {
    font-family: NFLRegular;
    src: url("assets/fonts/NFLRegular.ttf") format("opentype");
}

@font-face {
    font-family: NFL-Browns;
    src: url("assets/fonts/nfl-browns-2015.ttf") format("opentype");
}

@font-face {
    font-family: Arimo-Regular;
    src: url("assets/fonts/Arimo-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("assets/fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("assets/fonts/Roboto-Bold.ttf") format("opentype");
}