#root{
    color: #2e1f01;
}
.dave-title{
    padding: 20px 0;
    margin: 0 auto;
    background-color: #619e51;
    outline: 10px solid #ffffff;
    letter-spacing: 1px;
    font-family: 'NFL-browns';
    color: #fe3c00;
    font-size: 84px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    user-select: none;
}

.status-p{
    padding: 30px;
    font-size: 20px;
}

.odds-wrapper{
    display: flex;
    justify-content: center;
    margin: 24px auto;
    flex-direction: column;
}

.odds-headers-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column-header{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    user-select: none;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid;
    box-sizing: border-box;
}

.odds-items-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.teams-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.teams-column{
    align-self: flex-end;
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 36px;
    user-select: none;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: 1px solid;
}

.teams-name{
    text-shadow:
        2px 2px 0 var(--stroke-color),
        -2px 2px 0 var(--stroke-color),
        2px -2px 0 var(--stroke-color),
        -2px -2px 0 var(--stroke-color);
    letter-spacing: 2px;
}

.teams-at{
    position: absolute;
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.odds-column{
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: 1px solid;
}

.odds-column:last-of-type{
    border-bottom-right-radius: 10px;
}

.column-value{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.column-value-selected{
    background: #2e1f01;
    color: #fff;
    outline: 1px solid #2e1f01;
}

.column-value-selected.column-status-lose{
    background: #d10000 !important;
}

.column-value-selected.column-status-win{
    background: #189f18 !important;
}

.column-separator{
    background: #2e1f01;
    height: 1px;
    width: 90%;
}

.time-separator{
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-separator-line{
    height: 10px;
    flex-grow: 1;
    background-color: yellow;
}
.time-separator-text{
    margin: 0 10px;
}
.user-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: white;
    border-radius: 15px;
    border: 1px solid black;
    user-select: none;
    padding: 8px 10px;
    z-index: 2;
}
.user-popup-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.popup-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000002d;
}
.popup-content{
    background: white;
    width: 300px;
    padding: 20px;
    margin-top: -200px;
    border-radius: 10px;
    font-family: 'Roboto-Regular';
    z-index: 4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.popup-title{
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px;
    font-family: 'Roboto-Bold';
    user-select: none;
}
.popup-description{
    margin-bottom: 10px;
}
.popup-button{
    padding: 10px 0;
    background: #619e51;
    color: #fff;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.popup-button:hover{
    background: #4a793e;
}
.input-field{
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
    border: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}
.password-field{
    font-size: 32px;
}
#username-input{
    background-image: url("assets/icons/profile.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    padding-left: 35px;
}
#usercode-input{
    background-image: url("assets/icons/lock.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    padding-left: 35px;
}
.visibility-toggle-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    cursor: pointer;
}
.visibility-toggle-icon{
    width: 24px;
    height: 24px;
}

@media (max-width: 565px) {
    body{
        margin-top: 0 !important;
    }
    #root {
        width: 100%;
        border-width: 5px;
    }
    .dave-title{
        outline-width: 5px;
        font-size: 64px;
    }
    .odds-column{
        width: auto;
    }
    .column-header{
        width: auto;
        padding: 0 15px;
    }
}