.odds-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.teams-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.odds-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}